# dependencies
node_modules/
webapp/node_modules/

# build output
dist/
webapp/dist/
build/
webapp/build/

# Vite / TS build artifacts
webapp/node_modules/.tmp/
*.tsbuildinfo

# sourcemaps
*.map

# OS / editor
.DS_Store
.idea/
.vscode/
